.chamada {
  align-items: center;
  background-color: var(--bg-chamada-mobile);
  color: var(--branco);
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5rem;
  padding-top: 12.25rem; /*tem relação com raiz 1 rem igual a 16px root emphemeral*/

  text-align: center;
}

.chamada__titulo {
  font-family: var(--montserrat);
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;

  margin-bottom: 1.5rem;
}

.chamada__texto {
  font-size: 1.25rem;
  line-height: normal;

  margin: 0 auto 2.5rem;
}

.chamada__botao {
  width: 100%;
}
